<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index_style.css')}}">
    <title>INDEX</title>
</head>
<body>

    <div>
        {% block menu %}
            <form method="post"> <!-- action = # -> take back to the same page after the submit  -->
                {% if todo_bar %}
                <ul class="nav-bar">
                    <li class="nav-bar-item">
                        <label for="index_input">Index: </label>
                        <input id="index_input" type="text" name="index_input" value="{{ todo_bar['_id'] }}" readonly>
                    </li>
                    <li class="nav-bar-item">
                        <label for="text_input">Text: </label>
                        <input id="text_input" type="text" name="text_input" value="{{ todo_bar['text'] }}" autocomplete="off" autofocus>
                    </li>
                    <li class="nav-bar-item">
                        <label for="done_input">Done: </label>
                        {% if todo_bar["done"] == "DONE" %}
                            <input id="done_input" type="checkbox" name="done_input" checked>
                        {% else %}
                            <input id="done_input" type="checkbox" name="done_input">
                        {% endif %}
                    </li>
                    <li class="nav-bar-item">
                        <input type="submit" value="add" formaction="/add" disabled>
                    </li>
                    <li class="nav-bar-item">
                        <input type="submit" value="update" formaction="/update">
                    </li>
                    <li class="nav-bar-item">
                        <input type="submit" value="delete" formaction="/delete">
                    </li>
                    <li class="nav-bar-item">
                        <input type="submit" value="filter" formaction="/filters">
                    </li>
                    <li class="nav-bar-item">
                        <input type="submit" value="cancel" formaction="/clear_bar">
                    </li>
                    <li class="nav-bar-item">
                        <input type="submit" value="get json" formaction="/json_content">
                    </li>
                    <li class="nav-bar-item logout">
                        <input type="submit" value="logout" formaction="/logout">
                    </li>
                </ul>
                {% else %}
                <ul class="nav-bar">
                    <li class="nav-bar-item">
                        <label for="index_input">Index: </label>
                        <input id="index_input" type="text" name="index_input" readonly>
                    </li>
                    <li class="nav-bar-item">
                        <label for="text_input">Text: </label>
                        <input id="index_input" type="text" name="text_input" placeholder="enter todo..." autocomplete="off" autofocus>
                    </li>
                    <li class="nav-bar-item">
                        <label for="done_input">Done: </label>
                        <input id="done_input" type="checkbox" name="done_input">
                    </li>
                    <li class="nav-bar-item">
                        <input type="submit" value="add" formaction="/add">
                    </li>
                    <li class="nav-bar-item">
                        <input type="submit" value="update" formaction="/update" disabled>
                    </li>
                    <li class="nav-bar-item">
                        <input type="submit" value="delete" formaction="/delete" disabled>
                    </li>
                    <li class="nav-bar-item">
                        <input type="submit" value="filter" formaction="/filters">
                    </li>
                    <li class="nav-bar-item">
                        <input type="submit" value="cancel" formaction="/clear_bar" disabled>
                    </li>
                    <li class="nav-bar-item">
                        <input type="submit" value="get json" formaction="/json_content">
                    </li>
                    <li class="nav-bar-item logout">
                        <input type="submit" value="logout" formaction="/logout">
                    </li>
                </ul>
                {% endif %}
            </form>
            <hr>
        {% endblock %}

        {% block db_content %}
            <form action="/fill_bar" method="post">
                <ul class="todos-list">
                {% for todo in data %}
                    {% if todo_bar != None %}
                        {% if todo._id|int() == todo_bar._id|int() %}
                            <input class="todos-list-card selected" type="submit" name="todo_input" value="{{todo}}">
                        {% else %}
                            {% if todo.done %}
                                <input class="todos-list-card done" type="submit" name="todo_input" value="{{todo}}">
                            {% else %}
                                <input class="todos-list-card undone" type="submit" name="todo_input" value="{{todo}}">
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if todo.done %}
                            <input class="todos-list-card done" type="submit" name="todo_input" value="{{todo}}">
                        {% else %}
                            <input class="todos-list-card undone" type="submit" name="todo_input" value="{{todo}}">
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </ul>
            </form>
        {% endblock %}
    </div>
    
</body>
</html>