<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login_style.css')}}">
    <title>TODOOD Login page</title>
</head>
<body>

    <div class="form-container">
        <div class="form-title">
            <h1>WELCOME TO TODOOD</h1>
        </div>
        <form action="/login" method="post">
            <div>
                <div class="form-row">
                    <div class="form-item">
                        <label for="username_input" class="form-label">Username</label>
                    </div>
                    <div class="form-item field">
                        <input type="text" name="username_input" placeholder="user123" autocomplete="off" autofocus class="form-control"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-item">
                        <label for="password_input" class="form-label">Password</label>
                    </div>
                    <div class="form-item field">
                        <input type="password" name="password_input" placeholder="●●●●●●" autocomplete="off" class="form-control"/>
                    </div>
                </div>
                <div class="form-row">
                    <div id="login" class="form-item">
                        <input type="submit" value="login"/>
                    </div>
                </div>
            </div>
        </form>

        {% block app_content %}
            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                    <div class="form-item">
                        <p>{{message}}</p>
                    </div>
                {% endfor %}
            {% endwith %}
        {% endblock %}

    </div>

</body>
</html>